﻿@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<footer class="footer">
    <div class="container">
        <p class="my-1 text-center">
            <a href="https://gitlab.com/OidaTiftla/qr-code-gen" target="_blank" rel="noopener noreferrer">OidaTiftla</a> &copy; @DateTime.Now.Year
        </p>
    </div>
</footer>

<style>
    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #bfdb4f;
    }
</style>
