@using QRCoder
@using SixLabors.ImageSharp
@using SixLabors.ImageSharp.Drawing
@using SixLabors.ImageSharp.Drawing.Processing
@using SixLabors.ImageSharp.PixelFormats
@using SixLabors.ImageSharp.Processing
@using System.Globalization

@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

@page "/"

<PageTitle>@Localize("QR-Code Generator")</PageTitle>

<div style="margin-bottom: 200px;">
    <form @onsubmit="(e) => { /* prevent default */ }">
        <div class="row">
            <div class="col-auto">
                <img src="favicon.ico" alt="@Localize("QR-Code Generator")" style="max-width: 50px;" />
            </div>
            <div class="col">
                <h1>@Localize(qrType) @Localize("QR-Code Generator")</h1>
            </div>
            <div class="col-auto">
                <div class="dropdown">
                    <button class="btn btn-secondary-outline btn-sm dropdown-toggle" type="button" id="dropdownMenuLanguage" data-bs-toggle="dropdown" aria-expanded="false">
                        @lang
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLanguage">
                        @foreach (var lang in localizationDicts.Keys) {
                            <li><a class="dropdown-item" href="?lang=@lang">@Localize("lang", @lang)</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="mt-3">@Localize("Select the QR-Code type you'd like to generate:")</div>
        <div class="mb-3 flex-wrap" role="group">
            @foreach (var t in qrTypes) {
                <input type="radio" class="btn-check" name="btnradio" id="@($"btnradio{t}")" autocomplete="off" checked="@(qrType == t)" @onclick="() => { qrCodeImageAsBase64 = string.Empty; qrType = t; UpdateQrCode(); }">
                <label class="mt-1 btn btn-outline-primary" for="@($"btnradio{t}")">@Localize(t)</label>
            }
        </div>

        @switch (qrType) {
            case "URL":
                <div class="my-3 form-group row">
                    <label for="url" class="col-sm-4 col-form-label">@Localize("Enter the URL:")</label>
                    <div class="col-sm-8">
                        <div class="input-group has-validation">
                            <input type="text" class="form-control @(urlWarningForMissingProtocol ? "is-invalid" : "")" id="url" autocomplete="off" value="@url" @oninput="(e) => Debounce(() => url = e.Value.ToString(), () => urlIgnoreWarningForMissingProtocol = false, () => UpdateQrCode())" />
                            @if (urlWarningForMissingProtocol) {
                                <div class="invalid-feedback">
                                    @Localize("URLs should start with http:// or https://")
                                    <br />
                                    <button class="m-0 p-0 btn btn-link" @onclick="() => onUrlPrefix()">@Localize("fix this")</button>
                                    @Localize("or")
                                    <button class="m-0 p-0 btn btn-link" @onclick="() => onUrlPrefixIgnore()">@Localize("ignore")</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                break;

            case "Text":
                <div class="my-3 form-group row">
                    <label for="text" class="col-sm-4 col-form-label">@Localize("Enter the text:")</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" id="text" autocomplete="off" value="@text" @oninput="(e) => Debounce(() => text = e.Value.ToString(), () => UpdateQrCode())"></textarea>
                    </div>
                </div>
                break;

            case "WiFi":
                <div class="my-3 form-group row">
                    <label for="wiFiSsid" class="col-sm-4 col-form-label">@Localize("Enter the WiFi SSID:")</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="wiFiSsid" autocomplete="off" value="@wiFiSsid" @oninput="(e) => Debounce(() => wiFiSsid = e.Value.ToString(), () => UpdateQrCode())" />
                    </div>
                </div>
                <div class="my-3 form-group row">
                    <label for="wifiEncryptionType" class="col-sm-4 col-form-label">@Localize("Enter the WiFi encryption type:")</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="wifiEncryptionType" value="@wifiEncryptionType" @onchange="(e) => Debounce(() => wifiEncryptionType = e.Value.ToString(), () => UpdateQrCode())">
                            @foreach (var encryptionType in wifiEncryptionTypes.Keys) {
                                <option value="@encryptionType.ToString()">@encryptionType.ToString()</option>
                            }
                        </select>
                    </div>
                </div>
                @if (wifiEncryptionType != "nopass") {
                    <div class="my-3 form-group row">
                        <label for="wiFiPassword" class="col-sm-4 col-form-label">@Localize("Enter the WiFi password:")</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="wiFiPassword" autocomplete="off" value="@wiFiPassword" @oninput="(e) => Debounce(() => wiFiPassword = e.Value.ToString(), () => UpdateQrCode())" />
                        </div>
                    </div>
                }
                <div class="my-3 form-group row">
                    <label for="wiFiIsHiddenSsid" class="col-sm-4">@Localize("Is the SSID hidden?")</label>
                    <div class="col-sm-8">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="wiFiIsHiddenSsid" checked="@wiFiIsHiddenSsid" @onchange="(e) => Debounce(() => wiFiIsHiddenSsid = bool.Parse(e.Value.ToString()), () => UpdateQrCode())" />
                        </div>
                    </div>
                </div>
                break;

            case "Calendar event":
                <div class="my-3 form-group row">
                    <label for="calendarEventSubject" class="col-sm-4 col-form-label">@Localize("Enter the subject:")</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="calendarEventSubject" autocomplete="off" value="@calendarEventSubject" @oninput="(e) => Debounce(() => calendarEventSubject = e.Value.ToString(), () => UpdateQrCode())" />
                    </div>
                </div>
                <div class="my-3 form-group row">
                    <label for="calendarEventDescription" class="col-sm-4 col-form-label">@Localize("Enter the description:")</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="calendarEventDescription" autocomplete="off" value="@calendarEventDescription" @oninput="(e) => Debounce(() => calendarEventDescription = e.Value.ToString(), () => UpdateQrCode())" />
                    </div>
                </div>
                <div class="my-3 form-group row">
                    <label for="calendarEventLocation" class="col-sm-4 col-form-label">@Localize("Enter the location:")</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="calendarEventLocation" autocomplete="off" value="@calendarEventLocation" @oninput="(e) => Debounce(() => calendarEventLocation = e.Value.ToString(), () => UpdateQrCode())" />
                    </div>
                </div>
                <div class="my-3 form-group row">
                    <label for="calendarEventIsAllDayEvent" class="col-sm-4">@Localize("Is all-day event?")</label>
                    <div class="col-sm-8">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="calendarEventIsAllDayEvent" checked="@calendarEventIsAllDayEvent" @onchange="(e) => Debounce(() => { calendarEventIsAllDayEvent = bool.Parse(e.Value.ToString()); if (calendarEventIsAllDayEvent) { calendarEventStart = calendarEventStart.Date; } calendarEventEnd = calendarEventIsAllDayEvent ? calendarEventStart.AddDays(0) : calendarEventStart.AddHours(1); }, () => UpdateQrCode())" />
                        </div>
                    </div>
                </div>
                @if (calendarEventIsAllDayEvent) {
                    <div class="my-3 form-group row">
                        <label for="calendarEventStart" class="col-sm-4 col-form-label">@Localize("Enter the start date:")</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" id="calendarEventStart" autocomplete="off" value="@(calendarEventStart.ToString("yyyy-MM-dd"))" @oninput="(e) => Debounce(() => { var value = DateTime.Parse(e.Value.ToString()); var diff = calendarEventEnd - calendarEventStart; calendarEventStart = value; calendarEventEnd = calendarEventStart + diff; }, () => UpdateQrCode())" />
                        </div>
                    </div>
                    <div class="my-3 form-group row">
                        <label for="calendarEventDuration" class="col-sm-4 col-form-label">@Localize("Enter the duration:")</label>
                        <div class="col-sm-8">
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" id="calendarEventDuration" autocomplete="off" value="@((calendarEventEnd.Date - calendarEventStart.Date).TotalDays + 1)" min="1" @oninput="(e) => Debounce(() => calendarEventEnd = calendarEventStart.AddDays(-1 + int.Parse(e.Value.ToString())), () => UpdateQrCode())" />
                                <span class="input-group-text">@((calendarEventEnd.Date - calendarEventStart.Date).TotalDays + 1 <= 1 ? Localize("day") : Localize("days"))</span>
                            </div>
                        </div>
                    </div>
                    <div class="my-3 form-group row">
                        <label for="calendarEventEnd" class="col-sm-4 col-form-label">@Localize("Enter the end date:")</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" id="calendarEventEnd" autocomplete="off" value="@(calendarEventEnd.ToString("yyyy-MM-dd"))" min="@(calendarEventStart.ToString("yyyy-MM-dd"))" @oninput="(e) => Debounce(() => calendarEventEnd = DateTime.Parse(e.Value.ToString()), () => UpdateQrCode())" />
                        </div>
                    </div>
                } else {
                    <div class="my-3 form-group row">
                        <label for="calendarEventStart" class="col-sm-4 col-form-label">@Localize("Enter the start date:")</label>
                        <div class="col-sm-8">
                            <input type="datetime-local" class="form-control" id="calendarEventStart" autocomplete="off" value="@(calendarEventStart.ToString("yyyy-MM-ddTHH:mm"))" @oninput="(e) => Debounce(() => { var value = DateTime.Parse(e.Value.ToString()); var diff = calendarEventEnd - calendarEventStart; calendarEventStart = value; calendarEventEnd = calendarEventStart + diff; }, () => UpdateQrCode())" />
                        </div>
                    </div>
                    <div class="my-3 form-group row">
                        <label for="calendarEventDuration" class="col-sm-4 col-form-label">@Localize("Enter the duration:")</label>
                        <div class="col-sm-8">
                            <div class="input-group mb-3">
                                <input type="time" class="form-control" id="calendarEventDuration" autocomplete="off" value="@(calendarEventEnd - calendarEventStart)" min="00:00" @oninput="(e) => Debounce(() => calendarEventEnd = calendarEventStart + TimeSpan.Parse(e.Value.ToString()), () => UpdateQrCode())" />
                                <span class="input-group-text">hh:mm</span>
                            </div>
                        </div>
                    </div>
                    <div class="my-3 form-group row">
                        <label for="calendarEventEnd" class="col-sm-4 col-form-label">@Localize("Enter the end date:")</label>
                        <div class="col-sm-8">
                            <input type="datetime-local" class="form-control" id="calendarEventEnd" autocomplete="off" value="@(calendarEventEnd.ToString("yyyy-MM-ddTHH:mm"))" min="@(calendarEventStart.ToString("yyyy-MM-ddTHH:mm"))" @oninput="(e) => Debounce(() => calendarEventEnd = DateTime.Parse(e.Value.ToString()), () => UpdateQrCode())" @onblur="() => calendarEventEnd = calendarEventEnd < calendarEventStart ? calendarEventStart.AddMinutes(30) : calendarEventEnd" />
                        </div>
                    </div>
                }
                break;

            case "Mail":
                <div class="my-3 form-group row">
                    <label for="mailReceiver" class="col-sm-4 col-form-label">@Localize("Enter the mail receiver:")</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="mailReceiver" autocomplete="off" value="@mailReceiver" @oninput="(e) => Debounce(() => mailReceiver = e.Value.ToString(), () => UpdateQrCode())" />
                    </div>
                </div>
                <div class="my-3 form-group row">
                    <label for="mailSubject" class="col-sm-4 col-form-label">@Localize("Enter the subject:")</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="mailSubject" autocomplete="off" value="@mailSubject" @oninput="(e) => Debounce(() => mailSubject = e.Value.ToString(), () => UpdateQrCode())" />
                    </div>
                </div>
                <div class="my-3 form-group row">
                    <label for="messageToSend" class="col-sm-4 col-form-label">@Localize("Enter the message:")</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" id="messageToSend" autocomplete="off" value="@messageToSend" @oninput="(e) => Debounce(() => messageToSend = e.Value.ToString(), () => UpdateQrCode())"></textarea>
                    </div>
                </div>
                break;

            case "Phone call":
                <div class="my-3 form-group row">
                    <label for="phoneNumber" class="col-sm-4 col-form-label">@Localize("Enter the phone number:")</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="phoneNumber" autocomplete="off" value="@phoneNumber" @oninput="(e) => Debounce(() => phoneNumber = e.Value.ToString(), () => UpdateQrCode())" />
                    </div>
                </div>
                break;

            case "WhatsApp message":
            case "SMS":
                <div class="my-3 form-group row">
                    <label for="phoneNumber" class="col-sm-4 col-form-label">@Localize("Enter the phone number:")</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="phoneNumber" autocomplete="off" value="@phoneNumber" @oninput="(e) => Debounce(() => phoneNumber = e.Value.ToString(), () => UpdateQrCode())" />
                    </div>
                </div>
                <div class="my-3 form-group row">
                    <label for="messageToSend" class="col-sm-4 col-form-label">@Localize("Enter the message:")</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" id="messageToSend" autocomplete="off" value="@messageToSend" @oninput="(e) => Debounce(() => messageToSend = e.Value.ToString(), () => UpdateQrCode())"></textarea>
                    </div>
                </div>
                break;

            case "BezahlCode":
            case "EPC-QR/Girocode":
                <div class="my-3 form-group row">
                    <label for="bankTransfereRecipientName" class="col-sm-4 col-form-label">@Localize("Enter the recipient name:")</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="bankTransfereRecipientName" autocomplete="off" value="@bankTransfereRecipientName" @oninput="(e) => Debounce(() => bankTransfereRecipientName = e.Value.ToString(), () => UpdateQrCode())" />
                    </div>
                </div>
                <div class="my-3 form-group row">
                    <label for="bankTransfereIban" class="col-sm-4 col-form-label">@Localize("Enter the IBAN:")</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="bankTransfereIban" autocomplete="off" value="@bankTransfereIban" @oninput="(e) => Debounce(() => bankTransfereIban = e.Value.ToString(), () => UpdateQrCode())" />
                    </div>
                </div>
                <div class="my-3 form-group row">
                    <label for="bankTransfereBic" class="col-sm-4 col-form-label">@Localize("Enter the BIC:")</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="bankTransfereBic" autocomplete="off" value="@bankTransfereBic" @oninput="(e) => Debounce(() => bankTransfereBic = e.Value.ToString(), () => UpdateQrCode())" />
                    </div>
                </div>
                <div class="my-3 form-group row">
                    <label for="bankTransfereAmount" class="col-sm-4 col-form-label">@Localize("Enter the amount:")</label>
                    <div class="col-sm-8">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="bankTransfereAmount" autocomplete="off" value="@bankTransfereAmount" @oninput="(e) => Debounce(() => bankTransfereAmount = decimal.Parse(e.Value.ToString().Replace(',', '.')), () => UpdateQrCode())" />
                            <span class="input-group-text">EUR</span>
                        </div>
                    </div>
                </div>
                <div class="my-3 form-group row">
                    <label for="bankTransfereRemittanceInformation" class="col-sm-4 col-form-label">@Localize("Enter the remittance information:")</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="bankTransfereRemittanceInformation" autocomplete="off" value="@bankTransfereRemittanceInformation" @oninput="(e) => Debounce(() => bankTransfereRemittanceInformation = e.Value.ToString(), () => UpdateQrCode())" />
                    </div>
                </div>
                break;
        }
    </form>

    @if (!string.IsNullOrEmpty(qrCodeImageAsBase64)) {
        <div class="text-center">
            <button class="btn btn-link" @onclick="async () => { isLoading = true; StateHasChanged(); await Task.Delay(200); await Download(); isLoading = false; }">
                <img class="img-fluid" style="max-width:300px;" alt="Embedded QR-Code" src="@qrCodeImageAsBase64" />
                <p>@Localize("Click to download the QR-Code")</p>
            </button>
            @if (isLoading) {
                <div class="backdrop">
                    <div class="text-center">
                        <div class="spinner-border spinner-center text-primary" role="status">
                            <span class="visually-hidden">@Localize("Generating QR-Code in high quality ...")</span>
                        </div>
                    </div>
                </div>
            }
            <style>
                .backdrop {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                    z-index: 9999;
                }
                .spinner-center {
                    display: block;
                    position: fixed;
                    top: calc(50% - (32px / 2));
                    left: calc(50% - (32px / 2));
                }
            </style>
        </div>
        <div class="mx-auto" style="max-width: 20rem;">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="showIcon" checked="@showIcon" @onchange="(e) => Debounce(() => showIcon = bool.Parse(e.Value.ToString()), () => UpdateQrCode())" />
                <label class="form-check-label" for="showIcon">
                    @Localize("Show icon")
                </label>
            </div>
            @if (showIcon) {
                <div class="dropdown">
                    <button class="btn btn-secondary-outline btn-sm dropdown-toggle" type="button" id="dropdownMenuLanguage" data-bs-toggle="dropdown" aria-expanded="false">
                        @if (string.IsNullOrWhiteSpace(iconResourceName)) {
                            @Localize("Select icon")
                        } else {
                            var iconPath = iconResourceName;
                            if (iconPath.StartsWith("QrCodeGen.Web.Assets.")) {
                                iconPath = iconPath["QrCodeGen.Web.Assets.".Length..];
                            }
                            <img src="assets/icons-48/@(iconPath)" style="max-width: 48px;" />
                        }
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLanguage">
                        <li>
                            <div class="dropdown-item mx-auto" @onclick="async () => { iconResourceName = string.Empty; await UpdateQrCode(); }">@Localize("Default")</div>
                        </li>
                        @foreach (var icon in icons) {
                            var iconPath = icon;
                            if (iconPath.StartsWith("QrCodeGen.Web.Assets.")) {
                                iconPath = iconPath["QrCodeGen.Web.Assets.".Length..];
                            }
                            <li>
                                <img class="dropdown-item mx-auto" @onclick="async () => { iconResourceName = icon; await UpdateQrCode(); }" src="assets/icons-48/@(iconPath)" style="max-width: 70px;" />
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    }
</div>

<div class="footer-alert">
    <div class="mx-3 alert alert-success">
        @Localize("This generator does all the data processing in your browser. No data is sent to any server.")
    </div>
</div>

<style>
    .footer-alert {
        position: fixed;
        bottom: 30px;
        left: 0;
        right: 0;
    }
</style>

@code {
    private string lang = "en";

    private CancellationTokenSource debounceCTS = new CancellationTokenSource();
    private Base64QRCode.ImageType imgType = Base64QRCode.ImageType.Jpeg;
    private string qrCodeImageAsBase64 = string.Empty;
    private string qrType = "";
    private string[] qrTypes = new [] {
        "URL",
        "Text",
        "WiFi",
        "Calendar event",
        "Mail",
        "Phone call",
        "WhatsApp message",
        "SMS",
        "BezahlCode",
        "EPC-QR/Girocode",
    };

    private bool isLoading = false;

    private bool showIcon = true;
    private string iconResourceName = string.Empty;
    private float iconSizeFactor = 0.7f;
    private float iconBorderRadiusFactor = 0.5f;
    private string[] icons = new [] {
        "QrCodeGen.Web.Assets.calendar.png",
        "QrCodeGen.Web.Assets.calendarCheck.png",
        "QrCodeGen.Web.Assets.calendarDays.png",
        "QrCodeGen.Web.Assets.contact.png",
        "QrCodeGen.Web.Assets.fileLines.png",
        "QrCodeGen.Web.Assets.kjg.png",
        "QrCodeGen.Web.Assets.link.png",
        "QrCodeGen.Web.Assets.mail.png",
        "QrCodeGen.Web.Assets.mailAt.png",
        "QrCodeGen.Web.Assets.mobilePayPhone.png",
        "QrCodeGen.Web.Assets.mobilePayPhoneSolid.png",
        "QrCodeGen.Web.Assets.moneyPhone.png",
        "QrCodeGen.Web.Assets.moneyTransfer.png",
        "QrCodeGen.Web.Assets.moneyTransferPhone.png",
        "QrCodeGen.Web.Assets.phone.png",
        "QrCodeGen.Web.Assets.sms.png",
        "QrCodeGen.Web.Assets.whatsapp.png",
        "QrCodeGen.Web.Assets.wifi.png",
    };

    private string url = string.Empty;
    private bool urlWarningForMissingProtocol => !urlIgnoreWarningForMissingProtocol && !string.IsNullOrWhiteSpace(url) && !(url.StartsWith("http://") || url.StartsWith("https://"));
    private bool urlIgnoreWarningForMissingProtocol = false;
    private async Task onUrlPrefix() { url = "https://" + url; StateHasChanged(); await UpdateQrCode(); }
    private async Task onUrlPrefixIgnore() { urlIgnoreWarningForMissingProtocol = true; StateHasChanged(); await UpdateQrCode(); }

    private string text = string.Empty;

    private string wiFiSsid = string.Empty;
    private string wiFiPassword = string.Empty;
    private string wifiEncryptionType = "WPA";
    private Dictionary<string, string> wifiEncryptionTypes = new() {
        { "nopass", "nopass" },
        { "WEP", "WEP" },
        { "WPA", "WPA" },
    };
    private bool wiFiIsHiddenSsid = false;

    private string calendarEventSubject = string.Empty;
    private string calendarEventDescription = string.Empty;
    private string calendarEventLocation = string.Empty;
    private DateTime calendarEventStart = DateTime.Now.Date.AddHours(DateTime.Now.Hour + 1);
    private DateTime calendarEventEnd = DateTime.Now.Date.AddHours(DateTime.Now.Hour + 2);
    private bool calendarEventIsAllDayEvent = false;

    private string mailReceiver = string.Empty;
    private string mailSubject = string.Empty;
    private string messageToSend = string.Empty;

    private string phoneNumber = string.Empty;

    private string bankTransfereRecipientName = string.Empty;
    private string bankTransfereIban = string.Empty;
    private string bankTransfereBic = string.Empty;
    private decimal bankTransfereAmount = 0;
    private string bankTransfereRemittanceInformation = string.Empty;

    // on load read lang query param and set culture
    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();

        // call update language on every navigation
        NavigationManager.LocationChanged += (s, e) => UpdateLanguage();

        UpdateLanguage();
    }

    private void UpdateLanguage() {
        var uri = new Uri(NavigationManager.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);
        var l = query.Get("lang");
        if (!string.IsNullOrEmpty(l)) {
            lang = l;
            CultureInfo.CurrentUICulture = CultureInfo.GetCultureInfo(lang);
        } else {
            lang = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
        }
        if (!localizationDicts.ContainsKey(lang)) {
            lang = "en";
        }

        // trigger rendering
        StateHasChanged();
    }

    private async Task Debounce(params Action[] actions) {
        // debounce
        debounceCTS.Cancel();
        debounceCTS = new CancellationTokenSource();
        var token = debounceCTS.Token;
        await Task.Delay(500, token);
        if (!token.IsCancellationRequested) {
            foreach (var action in actions) {
                action();
            }
        }
    }

    private async Task UpdateQrCode(bool highQuality = false) {
        qrCodeImageAsBase64 = await CreateQrCodeAsBase64();
    }

    private async Task Download() {
        // generate with high quality
        var qrCodeImageAsBase64 = await CreateQrCodeAsBase64(true);

        if (string.IsNullOrEmpty(qrCodeImageAsBase64)) {
            return;
        }

        await JSRuntime.InvokeVoidAsync(
            "download",
            qrCodeImageAsBase64,
            $"QRCode.{imgType.ToString().ToLower()}");
    }

    private async Task<string> CreateQrCodeAsBase64(bool highQuality = false) {
        string payload = string.Empty;
        string iconResourceNameFinal = iconResourceName;
        var iconSizeFactorFinal = iconSizeFactor;
        var iconBorderRadiusFactorFinal = iconBorderRadiusFactor;
        switch (qrType) {
            case "URL":
                if (string.IsNullOrEmpty(url)
                    || urlWarningForMissingProtocol) {
                    return string.Empty;
                }
                payload = new PayloadGenerator.Url(url).ToString();
                if (string.IsNullOrWhiteSpace(iconResourceNameFinal)) {
                    iconResourceNameFinal = "QrCodeGen.Web.Assets.link.png";
                }
                break;

            case "Text":
                if (string.IsNullOrEmpty(text)) {
                    return string.Empty;
                }
                payload = text;
                if (string.IsNullOrWhiteSpace(iconResourceNameFinal)) {
                    iconResourceNameFinal = "QrCodeGen.Web.Assets.fileLines.png";
                }
                break;

            case "WiFi":
                if (string.IsNullOrEmpty(wiFiSsid)) {
                    return string.Empty;
                }
                var name = wiFiSsid;
                var password = wiFiPassword;
                if (!wifiEncryptionTypes.TryGetValue(wifiEncryptionType, out var mode)) {
                    mode = "nopass";
                }
                if (mode == "nopass") {
                    password = "";
                }
                payload = $"WIFI:T:{mode};S:{name};P:{password};{(wiFiIsHiddenSsid ? "H:true": "")};";
                if (string.IsNullOrWhiteSpace(iconResourceNameFinal)) {
                    iconResourceNameFinal = "QrCodeGen.Web.Assets.wifi.png";
                }
                break;

            case "Calendar event":
                if (string.IsNullOrEmpty(calendarEventSubject)) {
                    return string.Empty;
                }
                payload = new PayloadGenerator.CalendarEvent(
                    calendarEventSubject,
                    calendarEventDescription,
                    calendarEventLocation,
                    calendarEventStart,
                    calendarEventEnd.AddDays(calendarEventIsAllDayEvent ? 1 : 0),
                    calendarEventIsAllDayEvent).ToString();
                if (string.IsNullOrWhiteSpace(iconResourceNameFinal)) {
                    iconResourceNameFinal = "QrCodeGen.Web.Assets.calendarCheck.png";
                }
                break;

            case "Mail":
                if (string.IsNullOrEmpty(mailReceiver)) {
                    return string.Empty;
                }
                payload = new PayloadGenerator.Mail(
                    mailReceiver,
                    mailSubject,
                    messageToSend).ToString();
                if (string.IsNullOrWhiteSpace(iconResourceNameFinal)) {
                    iconResourceNameFinal = "QrCodeGen.Web.Assets.mailAt.png";
                }
                break;

            case "Phone call":
                if (string.IsNullOrEmpty(phoneNumber)) {
                    return string.Empty;
                }
                payload = new PayloadGenerator.PhoneNumber(phoneNumber).ToString();
                if (string.IsNullOrWhiteSpace(iconResourceNameFinal)) {
                    iconResourceNameFinal = "QrCodeGen.Web.Assets.phone.png";
                    iconSizeFactorFinal = 0.6f;
                }
                break;

            case "WhatsApp message":
                if (string.IsNullOrEmpty(phoneNumber)) {
                    return string.Empty;
                }
                payload = new PayloadGenerator.WhatsAppMessage(
                    phoneNumber,
                    messageToSend).ToString();
                if (string.IsNullOrWhiteSpace(iconResourceNameFinal)) {
                    iconResourceNameFinal = "QrCodeGen.Web.Assets.whatsapp.png";
                }
                break;

            case "SMS":
                if (string.IsNullOrEmpty(phoneNumber)) {
                    return string.Empty;
                }
                payload = new PayloadGenerator.SMS(
                    phoneNumber,
                    messageToSend,
                    encoding: PayloadGenerator.SMS.SMSEncoding.SMSTO).ToString();
                if (string.IsNullOrWhiteSpace(iconResourceNameFinal)) {
                    iconResourceNameFinal = "QrCodeGen.Web.Assets.sms.png";
                }
                break;

            case "BezahlCode":
                if (string.IsNullOrEmpty(bankTransfereRecipientName) || string.IsNullOrEmpty(bankTransfereIban) || string.IsNullOrEmpty(bankTransfereBic) || bankTransfereAmount == 0) {
                    return string.Empty;
                }
                payload = new PayloadGenerator.BezahlCode(
                    PayloadGenerator.BezahlCode.AuthorityType.singlepaymentsepa,
                    name: bankTransfereRecipientName,
                    iban: bankTransfereIban,
                    bic: bankTransfereBic,
                    amount: bankTransfereAmount,
                    reason: bankTransfereRemittanceInformation,
                    currency: PayloadGenerator.BezahlCode.Currency.EUR).ToString();
                if (string.IsNullOrWhiteSpace(iconResourceNameFinal)) {
                    iconResourceNameFinal = "QrCodeGen.Web.Assets.moneyTransfer.png";
                }
                break;

            case "EPC-QR/Girocode":
                if (string.IsNullOrEmpty(bankTransfereIban) || string.IsNullOrEmpty(bankTransfereBic) || string.IsNullOrEmpty(bankTransfereRecipientName) || bankTransfereAmount == 0) {
                    return string.Empty;
                }
                payload = new PayloadGenerator.Girocode(
                    iban: bankTransfereIban,
                    bic: bankTransfereBic,
                    name: bankTransfereRecipientName,
                    amount: bankTransfereAmount,
                    remittanceInformation: bankTransfereRemittanceInformation).ToString();
                if (string.IsNullOrWhiteSpace(iconResourceNameFinal)) {
                    iconResourceNameFinal = "QrCodeGen.Web.Assets.moneyTransfer.png";
                }
                break;
        }

        // generate qr-code using QRCoder
        var qrGenerator = new QRCodeGenerator();
        var qrCodeData = qrGenerator.CreateQrCode(payload, QRCodeGenerator.ECCLevel.Q);
        var qrCode = new QRCoder.QRCode(qrCodeData);
        Image? qrImage = null;
        if (showIcon && !string.IsNullOrWhiteSpace(iconResourceNameFinal)) {
            // load icon
            using var icon = LoadImageFromResource(iconResourceNameFinal);

            // create icon with background
            var iconWithBackground = new Image<Rgba32>((int)Math.Round(icon.Width / iconSizeFactorFinal), (int)Math.Round(icon.Height / iconSizeFactorFinal));
            iconWithBackground.Mutate(ctx => {
                // limit iconBorderRadiusFactorFinal to 0..0.5
                if (iconBorderRadiusFactorFinal > 0.5f) {
                    iconBorderRadiusFactorFinal = 0.5f;
                }
                if (iconBorderRadiusFactorFinal < 0) {
                    iconBorderRadiusFactorFinal = 0;
                }

                // draw rectangular background with rounded corners
                foreach (var x in new float[] {
                    iconWithBackground.Width * iconBorderRadiusFactorFinal,
                    iconWithBackground.Width - (iconWithBackground.Width * iconBorderRadiusFactorFinal),
                }) {
                    foreach (var y in new float[] {
                        iconWithBackground.Height * iconBorderRadiusFactorFinal,
                        iconWithBackground.Height - (iconWithBackground.Height * iconBorderRadiusFactorFinal),
                    }) {
                        // draw a circle shape
                        var circle = new EllipsePolygon(
                            x,
                            y,
                            iconWithBackground.Width * iconBorderRadiusFactorFinal * 2,
                            iconWithBackground.Height * iconBorderRadiusFactorFinal * 2);
                        ctx.Fill(Color.White, circle);
                    }
                }
                // draw two rectangular shapes
                var rectangle = new RectangularPolygon(
                    0,
                    iconWithBackground.Height * iconBorderRadiusFactorFinal,
                    iconWithBackground.Width,
                    iconWithBackground.Height - (2 * iconWithBackground.Height * iconBorderRadiusFactorFinal));
                ctx.Fill(Color.White, rectangle);
                rectangle = new RectangularPolygon(
                    iconWithBackground.Width * iconBorderRadiusFactorFinal,
                    0,
                    iconWithBackground.Width - (2 * iconWithBackground.Width * iconBorderRadiusFactorFinal),
                    iconWithBackground.Height);
                ctx.Fill(Color.White, rectangle);

                // draw the icon centered
                ctx.DrawImage(icon, new Point((int)Math.Round((iconWithBackground.Width - icon.Width) / 2f), (int)Math.Round((iconWithBackground.Height - icon.Height) / 2f)), 1);
            });

            // generate qr-code with icon
            qrImage = qrCode.GetGraphic(highQuality ? 20 : 5, Color.Black, Color.White, iconWithBackground, iconSizePercent: payload.Length < 10 ? 20 : 25);
        } else {
            // generate qr-code without icon
            qrImage = qrCode.GetGraphic(highQuality ? 20 : 5, Color.Black, Color.White, null);
        }

        return ToBase64(qrImage);
    }

    private Image LoadImageFromResource(string resourceName) {
        using var iconStream = System.Reflection.Assembly.GetExecutingAssembly().GetManifestResourceStream(resourceName);
        if (iconStream is null) {
            throw new InvalidOperationException($"Could not load embedded resource for icon '{resourceName}'.");
        }
        return Image.Load(iconStream);
    }

    private string ToBase64(Image image) {
        using var ms = new MemoryStream();
        image.SaveAsPng(ms);
        return $"data:image/{imgType.ToString().ToLower()};base64,{Convert.ToBase64String(ms.ToArray())}";
    }

    // localize the text with a dictionary by language and key with fallback to the key
    private string Localize(string key, string langOverride = null) {
        if (string.IsNullOrEmpty(key)) {
            return key;
        }
        var language = string.IsNullOrEmpty(langOverride) ? lang : langOverride;
        if (!localizationDicts.TryGetValue(language, out var localizationDict)) {
            if (!localizationDicts.TryGetValue("en", out localizationDict)) {
                return key;
            }
        }
        if (localizationDict.TryGetValue(key, out var localized)) {
            return localized;
        }
        return key;
    }

    private Dictionary<string, Dictionary<string, string>> localizationDicts = new() {
        {
            "en", new Dictionary<string, string>() {
                { "lang", "English" },
            }
        },
        {
            "de", new Dictionary<string, string>() {
                { "lang", "Deutsch" },
                { "Select the QR-Code type you'd like to generate:", "Wählen Sie den QR-Code-Typ, den Sie generieren möchten:" },
                { "Calendar event", "Kalenderereignis" },
                { "Enter the URL:", "Geben Sie die URL ein:" },
                { "URLs should start with http:// or https://", "URLs sollten mit http:// oder https:// beginnen" },
                { "fix this", "beheben" },
                { "or", "oder" },
                { "ignore", "ignorieren" },
                { "Enter the text:", "Geben Sie den Text ein:" },
                { "Enter the WiFi SSID:", "Geben Sie die WiFi SSID ein:" },
                { "Enter the WiFi encryption type:", "Geben Sie den WiFi-Verschlüsselungstyp ein:" },
                { "Enter the WiFi password:", "Geben Sie das WiFi-Passwort ein:" },
                { "Is the SSID hidden?", "Ist die SSID versteckt?" },
                { "Mail", "E-Mail" },
                { "Enter the mail receiver:", "Geben Sie den E-Mail-Empfänger ein:" },
                { "Enter the subject:", "Geben Sie den Betreff ein:" },
                { "Enter the message:", "Geben Sie die Nachricht ein:" },
                { "Phone call", "Telefonanruf" },
                { "Enter the phone number:", "Geben Sie die Telefonnummer ein:" },
                { "WhatsApp message", "WhatsApp Nachricht" },
                { "Enter the description:", "Geben Sie die Beschreibung ein:" },
                { "Enter the location:", "Geben Sie den Ort ein:" },
                { "Is all-day event?", "Ist es ein ganztägiges Ereignis?" },
                { "Enter the start date:", "Geben Sie das Startdatum ein:" },
                { "Enter the duration:", "Geben Sie die Dauer ein:" },
                { "day", "Tag" },
                { "days", "Tage" },
                { "Enter the end date:", "Geben Sie das Enddatum ein:" },
                { "Enter the recipient name:", "Geben Sie den Empfängernamen ein:" },
                { "Enter the IBAN:", "Geben Sie die IBAN ein:" },
                { "Enter the BIC:", "Geben Sie die BIC ein:" },
                { "Enter the amount:", "Geben Sie den Betrag ein:" },
                { "Enter the remittance information:", "Geben Sie den Verwendungszweck ein:" },
                { "Click to download the QR-Code", "Klicken Sie, um den QR-Code herunterzuladen" },
                { "Generating QR-Code in high quality ...", "QR-Code in hoher Qualität generieren ..." },
                { "Show icon", "Symbol anzeigen" },
                { "Select icon", "Symbol auswählen" },
                { "Default", "Standard" },
                { "This generator does all the data processing in your browser. No data is sent to any server.", "Dieser Generator verarbeitet alle Daten in Ihrem Browser. Es werden keine Daten an einen Server gesendet." },
            }
        },
    };
}
